# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python serialized files
*.pickle

# Pycharm project information
.idea

# Data Input files
data/input_*

# Private session cookie
data/session.txt